@import helper._
@main {
    @helper.form(action = routes.Features.saveFeature(),'enctype -> "multipart/form-data") {
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>ADD FEATURE</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-3 contact-form">
                        <div class="service">
                        <form class="form">
                            <div class="duplicate-email" style="font-size: 18px; color: red;">
                                @if(flash.containsKey("error")) {
                                    @flash.get("error")
                                }
                            </div>
                            <label>Feature name:</label>
                            <input name="name" style="text-transform: capitalize;" type="text" placeholder="Feature Name" required>
                            <label>Check if free -> </label>
                            <input type="checkbox" name="isFree" style="width: 18px; height: 18px;"> <br>
                            <label>Set icon:</label>
                            <input type="file" name="image" class="form-control" accept="image/*" required/>
                            <input name="name" style="background-color: #204d74; border-radius: 5px; width: 80px; margin-bottom: 0.2cm; " class="submit-btn " type="submit" value="ADD" onclick="@routes.Features.saveFeature()">

                            <a href="@routes.Users.showAdminFeatures()"> <input class="submit-btn" style="font-size:25px;float: left; background-color : #0066FF ; border-radius : 5px; width: 80px; " type="button" value="BACK" ></a>
                         </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    }
}