@import helper._
@main {
    @helper.form(action = routes.Features.saveFeature(),'enctype -> "multipart/form-data") {
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>ADD FEATURE</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-3 contact-form">
                        <div class="service">
                        <form class="form">
                            <div class="duplicate-email">
                                @if(flash.containsKey("error")) {
                                    @flash.get("error")
                                }
                            </div>
                            <label>Feature name:</label>
                            <input name="name" style="text-transform: capitalize;" type="text" placeholder="Feature Name" required>
                            <label>Set icon:</label>
                            <input type="file" name="image" class="form-control" accept="image/*" required/>
                            <a href="@routes.Users.showAdminFeatures()"> <input class="submit-btn" style="font-size:25px; background-color : #0066FF ; border-radius : 5px; width: 80px; " type="button" value="BACK" ></a>
                            <input name="name" style="background-color: #204d74; border-radius: 5px; width: 80px; margin-bottom: 0.2cm; float: left;" class="submit-btn " type="submit" value="ADD" onclick="@routes.Features.saveFeature()">
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    }
}