@(feature: Feature)
@import helper._
@main {
    <div class="container">
        <div class="row">
        @helper.form(action = routes.Features.updateFeature(feature.id)) {
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>UPDATE FEATURE: @feature.name</h2>
                </div>

                <div class="col-md-6 col-md-offset-1 contact-form">
                    <div>
                        <label>Name:</label>
                        <input name="name" value="@feature.name">
                    </div>


                    @*<h1>Icons</h1>*@

                    <div>
                        <button class="edvin-button" style="background-color: #204d74; border-radius: 5px; width: 80px; margin-bottom: 0.2cm;" name="submit" onclick="updateFeature()">Update</button>
                        <button class="edvin-button" style="background-color: #0066FF; border-radius: 5px; width: 80px; margin-bottom: 0.2cm;float: right;" name="submit" onclick="@routes.Users.showAdminPanel()">Back</button>

                    </div>
                </div>

            </div>


        }

        </div>
    </div>
}
