@import helpers.UserAccessLevel
@import models.AppUser
@import models.Hotel
@(hotels: java.util.List[Hotel])(users: java.util.List[AppUser])

@main {
    <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>

    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>HOTELS</h2>
                    </div>
                    @if(flash.containsKey("seller-changed")) {
                        <div style="margin-bottom: 10px" class="alert-success alert-success" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Success:</span>
                            @flash.get("seller-changed")

                        </div>
                    }
                    <div id="success" style="font-size: 25px; color: greenyellow"></div>
                    <div id="error" style="font-size: 25px; color: red"></div>
                </div>
            </section>

            <section>
                <table class="table ">
                    <thead>
                        <tr class="about text-align">
                            <th class="text-align" >Hotel</th>
                            <th class="text-align">Location</th>
                            <th class="text-align">City</th>
                            <th class="text-align">Seller</th>
                            <th class="text-align">Change seller</th>
                            <th class="text-align">Show on homepage</th>
                            <th class="text-align">Delete</th>


                        </tr>
                    </thead>
                    <tbody>
                        @for(hotel <- hotels) {
                            <tr class="about text-align">
                                <td>@hotel.name</td>
                                <td>@hotel.location</td>
                                <td>@hotel.city</td>
                                <td>
                                    <form method="post" action="@routes.Users.changeSeller(hotel.id)">
                                        <select name="selleremail"  class="ddlsellers" onchange="@routes.Users.changeSeller(hotel.id)">

                                        @for(user <- users) {
                                            @if(user.userAccessLevel == UserAccessLevel.SELLER) {
                                                @if(hotel.sellerId == user.id) {
                                                    <option selected="true">
                                                    @user.email
                                                    </option>
                                                }else{
                                                    <option>@user.email</option>
                                                }

                                            }
                                        }


                                        </select>
                                        <td> <button onclick="return changeSeller()" type="submit" class="btn btn-primary" id="middlebuttons">CHANGE</button></td>
                                    </form>
                                </td>
                                <td>
                                @if(hotel.showOnHomePage == null || hotel.showOnHomePage == false) {
                                    <a href="@routes.Hotels.changeVisibility(hotel.id)" >
                                        <button type="submit" class="btn btn-primary" id="middlebuttons">SHOW</button>
                                    </a>
                                } else {
                                    <a href="@routes.Hotels.changeVisibility(hotel.id)" >
                                        <button onclick="@routes.Hotels.changeVisibility(hotel.id)" type="submit" class="btn btn-primary" id="middlebuttons">HIDE</button>
                                    </a>
                                }
                                </td>
                                <td>
                                    <a data-role="delete" data-delete-parent="tr" href="@routes.Hotels.deleteHotel(hotel.id)" role="button">
                                        <i class="rediconcolor fa fa-trash-o fa-lg"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <a href="@routes.Hotels.createHotel()">
                    <button class=" btn-success"  id="addhotel">ADD NEW HOTEL</button>
                </a>
            </section>

        </div>
        }
</div>

