@(hotels: java.util.List[Hotel])
@main {

    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>Hotels</h2>
                </div>
                <table class="table ">
                    <thead>
                        <tr class="service">
                            <th>Name</th>
                            <th>Location</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(hotel <- hotels) {
                            <tr class="service">
                                <td>@hotel.name</td>
                                <td>@hotel.location</td>
                                <td>@hotel.description</td>
                                <form method="delete" action="@routes.Hotels.deleteHotel(hotel.id)">
                                    <td>
                                        <a onclick="return deleteConfirmation()" href="@routes.Hotels.deleteHotel(hotel.id)">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </form>

                            </tr>
                        }
                        <tr>
                            <td>
                                <a href="@routes.Hotels.createHotel()">
                                    <button class="btn btn-success">Add new hotel</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}