@import helpers.UserAccessLevel
@import models.AppUser
@(hotels: java.util.List[Hotel])(users: java.util.List[AppUser])

@main {

    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>Hotels</h2>
                </div>
                <div id="success" style="font-size: 25px; color: greenyellow"></div>
                <div id="error" style="font-size: 25px; color: red"></div>
                <table class="table ">
                    <thead>
                        <tr class="service">
                            <th style="font-size: 30px;">Hotel</th>
                            <th style="font-size: 30px;">Location</th>
                            <th style="font-size: 30px;">Description</th>
                            <th style="font-size: 30px;">Seller</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(hotel <- hotels) {
                                <tr class="service">
                                    <td style="font-size : 22px ;">@hotel.name</td>
                                    <td style="font-size : 22px ;">@hotel.location</td>
                                    <td style="font-size : 22px ;">@hotel.description</td>
                                    <td>
                                        <form method="post" action="@routes.Users.changeSeller(hotel.id)">
                                        <select name="selleremail"  class="ddlsellers" onchange="@routes.Users.changeSeller(hotel.id)">
                                            @for(user <- users) {
                                                @if(user.userAccessLevel == UserAccessLevel.SELLER) {
                                                    @if(hotel.sellerId == user.id) {
                                                        <option selected="true">
                                                            @user.email
                                                        </option>
                                                    }else{
                                                        <option>
                                                            @user.email
                                                        </option>

                                                    }
                                                 }
                                            }

                                    </select>
                                    <td> <button onclick="return changeSeller()" type="submit" class="btn btn-danger" id="middlebuttons">CHANGE SELLER</button></td>
                                    </form>
                                    </td>



                                    <form method="delete" action="@routes.Hotels.deleteHotel(hotel.id)">
                                      <td>
                                          <a onclick="return deleteConfirmation()" href="@routes.Hotels.deleteHotel(hotel.id)">
                                                <button class="btn btn-danger" id="middlebuttons">DELETE</button>
                                            </a>
                                        </td>
                                    </form>


                                </tr>


                        }
                        <tr>
                            <td>
                                <a href="@routes.Hotels.createHotel()">
                                    <button class="btn btn-success"  id="middlebuttons">ADD NEW HOTEL</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}