@()
@helper.form(action = routes.Users.sendInvitation()) {
  <!-- start of modal -->
  <div id="invitationModal" class="modal fade" role="dialog" style="background-color: #204d74">
    <div class="modal-dialog">

      <form method="post" action="@routes.Users.sendInvitation()">

        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title font-size-30" style="color: #204d74">Invite new seller</h4>
          </div>

          <div class="modal-body">

              <div class="form-group">
                  <div class="col-sm-12">
                      <input class="form-control" name="email" style="color: #575757; font-size: 20px" id="inputEmail" placeholder="Email" type="email" required />
                  </div>
              </div>
              <br> <br>

            <div class="form-group">
              <div class="col-sm-12">
                <input class="form-control" name="subject" style="color: #575757; font-size: 20px" id="inputSubject" placeholder="Title" type="text" required />
              </div>
            </div>
              <br> <br>

            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" name="content" style="color: #575757; font-size: 20px" id="inputBody" placeholder="Invitation text" rows="10" required ></textarea>
              </div>
            </div>
            <div class="row"></div>

          </div>

          <div class="modal-footer">
            <input type="submit" class="edvin-button-role" id="modal-button-blue" value="Invite"/>
          </div>

        </div>
      </form>
    </div>
  </div> <!-- end of modal -->
}