@(stats: SiteStats)
@main {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
                                  google.load("visualization", "1", {packages:["corechart"]});
                                  google.setOnLoadCallback(drawChart);
                                  function drawChart() {

                                    var data = google.visualization.arrayToDataTable([
                                      ['Room name', 'Number of visits'],
                                      ['Onebad',     11],
                                      ['Twobad',      9],
                                      ['Threebad',  2],
                                      ['Apartman', 2],
                                      ['King Suit',    1]
                                    ]);

                                    var options = {
                                      title: 'Number of visits per room',
                                      is3D: true
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                                    chart.draw(data, options);
                                  }
                             </script>
    <br> <br> <br> <br> <br> <br>
    <div class="container">
        <div class="row col-lg-offset-12">
            <div class="clearfix">
                <div class="text-center">
                    <h2>Site stats @stats.getTotalOfPageVisits</h2>


                    <ul class="nav nav-tabs font-size-20" id="tabs">
                        <li><a href="#1" data-toggle="tab">Site</a>
                        </li>

                        <li><a href="#2" data-toggle="tab">Hotels</a>
                        </li>

                        <li><a href="#3" data-toggle="tab">Rooms</a>
                        </li>

                        <li><a href="#4" data-toggle="tab">Pie</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" id="1">
                            <table class="table table-bordered table-striped volumes">
                                <thead>
                                    <tr>
                                        <th class="font-size-20">aaaaa</th>
                                        <th>aaaaa</th>
                                        <th>aaaaa</th>
                                        <th>aaaaa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-size-18">11111</td>
                                        <td>487</td>
                                        <td>487.00</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>111111</td>
                                        <td>222</td>
                                        <td>113.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>ENAS GBC KIREHE</td>
                                        <td>131</td>
                                        <td>131.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Government Procurement and Supply Agent</td>
                                        <td>453</td>
                                        <td>453.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Nairobi(test)</td>
                                        <td>261</td>
                                        <td>250.00</td>
                                        <td>IN</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="2">
                            <table class="table table-condensed table-bordered table-striped volumes">
                                <thead>
                                    <tr>
                                        <th>Warehouse</th>
                                        <th>Grain Volume</th>
                                        <th>Trade Volume</th>
                                        <th>Direction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>National Food Reserve Agency_Manyoni</td>
                                        <td>172</td>
                                        <td>172.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Sodea GBC</td>
                                        <td>471</td>
                                        <td>20.00</td>
                                        <td>OUT</td>
                                    </tr>
                                    <tr>
                                        <td>Kivu Maize Factory</td>
                                        <td>389</td>
                                        <td>389.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Mombasa Bulk Grain Handlers</td>
                                        <td>200</td>
                                        <td>200.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Zwii Enterprises-Muloza</td>
                                        <td>-47</td>
                                        <td>47.00</td>
                                        <td>OUT</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="3">
                            <table class="table table-condensed table-bordered table-striped volumes">
                                <thead>
                                    <tr>
                                        <th>Warehouse</th>
                                        <th>Grain Volume</th>
                                        <th>Trade Volume</th>
                                        <th>Direction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>COTCORI Cooperative</td>
                                        <td>93</td>
                                        <td>93.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>SOSOMA GBC KICUKIRO</td>
                                        <td>-23</td>
                                        <td>23.00</td>
                                        <td>OUT</td>
                                    </tr>
                                    <tr>
                                        <td>Shabiby_Indivisual</td>
                                        <td>270</td>
                                        <td>270.00</td>
                                        <td>IN</td>
                                    </tr>
                                    <tr>
                                        <td>Silayo_Union Service Stores</td>
                                        <td>-38</td>
                                        <td>38.00</td>
                                        <td>OUT</td>
                                    </tr>
                                    <tr>
                                        <td>SGR/NFRA VWAWA</td>
                                        <td>-39</td>
                                        <td>39.00</td>
                                        <td>OUT</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane" id="4">

                            <div id="piechart" style="width: 900px; height: 500px;"></div>


                        </div>

                    </div>
                </div>
            </div>

            <script>
        $('#tabs a:first').tab('show');
    </script>
}
