@(hotels: List[Hotel])
@main {
    <div  id="main-background">
        <div class="container" id="background">
        <div class= font-size-20" id="sorting">
            <div class="container">
                <div class="about text-center">
                    <h2>RESULTS OF SEARCH</h2>
                </div>
            </div>
            <table id="sort" class="table">
                <thead>
                    <tr class="about">
                        <th>Hotel name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Stars</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Visit hotel page</th>
                    </tr>
                </thead>
                <tbody>
                    @for(hotel <- hotels) {
                        <tr class="about">
                            <td>@hotel.name</td>
                            <td>@hotel.country</td>
                            <td>@hotel.city</td>
                            <td>@hotel.stars</td>
                            <td>@for(room <- hotel.rooms) {
                                @for(price <- room.prices) {
                                    @price.cost
                                }
                            }</td>
                            <th>@hotel.getRating</th>
                            <td><a href="@routes.Hotels.showHotel(hotel.id)">See @hotel.name</a></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#sort').DataTable({
                "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                "iDisplayLength": 25
            });
        });
    </script>
}
    </div>