@import helpers.UserAccessLevel
@(features: java.util.List[Feature])(users: java.util.List[AppUser])
@import helper._
@main {
    @helper.form(action = routes.Hotels.saveHotel()) {
        <div class="container">
            < class="row">
            <form role="form">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>REGISTER YOUR HOTEL</h2>
                    </div>
                    <div class="info-detail form-group">
                        <div class="col-md-6 col-md-offset-0 contact-form form-group">
                            <h3> Hotel information </h3>

                            <input name="name" class="name" type="text" placeholder="Hotel Name" required>
                            <input name="location" class="email" type="text" placeholder="Address" required>
                            <input name="city" class="email" type="text" placeholder="City" required>
                            <input name="country" class="email" type="text" placeholder="Country" required>
                            <input name="stars" type="number" min="1" max="7" placeholder="Hotel stars 1-7"/>
                            <textarea class="message" name="description" id="message" placeholder="Description" style="resize : none"></textarea>


                            <div class="col-md-0 col-md-offset-0">

                                <h3>Features</h3>
                                <div class="info-detail ">
                                @for(feature <- features) {
                            <div style="text-transform: capitalize; font-size: 22px; color:#FFFFFF;">
                                    <input type="checkbox" name="@feature.name" value="@feature.name" style="width: 16px; height: 16px;"><td>  @feature.name</td><br>
                                </div>
                                        @*<img src="@feature.icon.getSize(30,30)"/>*@

                                    }
                                </div>
                            </div>

                            <div class="col-md-0 col-md-offset-0">

                                <h3>Select the owner</h3>
                                <div class="info-detail">
                                    <select class="ddlsellers" name="seller" required>
                                        <br>
                                        @for(user <- users) {
                                            @if(user.userAccessLevel == UserAccessLevel.SELLER) {
                                                <option value="@user.id" >@user.firstname @user.lastname</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <br>
                            <a href="@routes.Users.showManagerHotels()"> <input class="submit-btn" id="hotel-back" type="button" value="BACK" ></a>

                            <input class="submit-btn" id="hotel-register" type="submit" value="REGISTER" onclick="@routes.Hotels.saveHotel()">

                        </div>

                    </div>

                    <div class="col-md-0 col-md-offset-6 ">
                        <br/><br/><br>

                        <input id="gLat" name="coordinateX" value="43.8534183" readonly>
                        <input id="gLng" name="coordinateY" value="18.37808399999" readonly>
                        <div id="mapCanvas" class="shrinked-map"></div>
                        <div id="infoPanel" style="display : none">
                            <b>Marker status:</b>
                            <div id="markerStatus"><i>Click and drag the marker.</i></div>
                            <b>Current position:</b>
                            <div id="info"></div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </form>
        }
</div>

}

