@import models.Comment
@import java.lang.Boolean
@import helpers.UserAccessLevel
@import models.Restaurant

@(hotel: Hotel)(hasCommented: Boolean)(currentUser: AppUser)
@import helper._
@main {
    <script src='@routes.Assets.versioned("javascripts/js/coordinate2.js")'></script>
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>@hotel.name</h2>
                    <div class="info-detail"></div>
                </div>


                <div class="col-md-6 col-md-offset-0 ">
                    <div class="service">
                        <div class="text-center">
                            @if(hotel.images.size() == 0) {
                                <img src="http://placehold.it/400x300" class="img-responsive img-thumbnail" alt=""/>
                            } else {
                                <img src="@hotel.images.get(0).getSize(400, 300)"/>
                            }
                        </div>
                    </div>
                </div>


                <div class="col-md-5  text-left">
                    <input id="gLat" name="coordinateX" value="@hotel.coordinateX">
                    <input id="gLng" name="coordinateY" value="@hotel.coordinateY">
                    <div id="mapCanvas" class="shrinked-map"></div>
                    <div id="infoPanel" style="display: none">
                        <div id="info"></div>
                    </div>

                    <div class="service">
                        <br><br><br>
                        <h4 value="@hotel.location">Hotel Adress: @hotel.location</h4>
                    </div>
                </div>

                    <!-- description -->
                <div class="contact-info ">
                    <div class="col-md-10 col-md-offset-0">
                        <div>
                            <h3>Description</h3>
                            <div class="info-detail">
                                <div class="service">
                                    <p>
                                    @hotel.description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- features and galery -->
                <div class="contact-info ">
                    <div class="col-md-10 col-md-offset-0">
                        <h3>Feature</h3>
                        <div class="info-detail">
                            <ul>
                                <div class="service" style="text-transform: capitalize;">

                                @if(hotel.features.size() != 0) {
                                    @for(feature <- hotel.features) {

                                        <li style="font-size: 16px;">
                                            @feature.name
                                            <img src="@feature.icon.getSize(30, 30)"/>
                                        </li>

                                    }
                                }

                                </div>
                            </ul>
                        </div>

                    </div>
                </div>
                @if(Restaurant.findRestaurantByHotelId(hotel.id) != null) {
                    <div class="contact-info ">
                        <div class="col-md-10 col-md-offset-0">
                            <div>
                               <h3 style="cursor: pointer;" id="restaurantOpen">RESTAURANT</h3>
                                <div id="restaurantDiv" class="info-detail" hidden>
                                    <div class="service">
                                        <p>
                                           NAME: @Restaurant.findRestaurantByHotelId(hotel.id).name
                                        </p>
                                        <p>
                                           TYPE/MENU: @Restaurant.findRestaurantByHotelId(hotel.id).restauranType
                                        </p>
                                        <p>
                                           CAPACITY/NUMBER OF SEATS: @Restaurant.findRestaurantByHotelId(hotel.id).capacity
                                        </p>
                                        <p>
                                           WORKING HOURS: @Restaurant.findRestaurantByHotelId(hotel.id).workingHours
                                        </p>
                                        <p>
                                           DESCRIPTION @Restaurant.findRestaurantByHotelId(hotel.id).description
                                        </p>

                                        <p>RESTAURANT GALLERY:</p>
                                        <div class="info-detail">
                                            @if(Restaurant.findRestaurantByHotelId(hotel.id).images.size() != 0) {
                                            @for(image <- Restaurant.findRestaurantByHotelId(hotel.id).images) {
                                            <img src="@image.getSize(300, 200)"/>
                                            }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="contact-info ">
                    <div class="col-md-10 col-md-offset-0">
                        <h3>Gallery</h3>
                        <div class="info-detail">
                            @if(hotel.images.size() != 0) {
                                @for(image <- hotel.images) {
                                    <img src="@image.getSize(300, 200)"/>
                                }
                            }
                            <a href="@routes.Rooms.showRooms(hotel.id)" ><button class="btn btn-warning" id="middlebuttons">
                                VIEW ROOMS</button></a>
                        </div>
                    </div>
                </div>



                <div class="contact-info ">
                    <div class="col-md-10 col-md-offset-0">

                        <h3>Comments</h3>
                        <div class="info-detail">
                        @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.BUYER) {
                            <form action="@routes.Comments.insertComment(hotel.id)" method="POST">
                                <div class="form-group">
                                    <div>
                                        <div class="service">
                                            <label>User:</label>

                                            <label>@request.cookies.get("name").value()</label>
                                        </div>
                                    </div>
                                    <div class="service">
                                        <label for="usr">Title:</label>
                                    </div>
                                    <input type="text" class="form-control" style="font-size: 17px;" id="usr" name="title" required>
                                    <div class="service">
                                        <label for="comment">Comment:</label>
                                    </div>
                                    <textarea class="form-control" rows="5" id="comment" style="resize : none; font-size: 18px;" name="content" required></textarea>
                                    <div class="service">
                                        <label for="rate">Rate hotel:</label>
                                    </div>

                                        <select id="rate" name="rating" class="form-control" onchange="" style="width : 70 px">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>

                                </div>

                                @if(hasCommented) {
                                    <div style="text-align: right; font-size: 40px">
                                        <i>You already commented this hotel.</i>
                                        <hr>
                                    </div>
                                } else {
                                    <div style="text-align: right">
                                        <button type="submit" id="post-comment" class="edvin-button">POST</button>
                                    </div>

                                }
                            </form>
                        }
                        </div>
                    </div>
                </div>
               


                <div class="contact-info ">
                    <div class="col-md-10 col-md-offset-0">
                    @for(comment <- hotel.comments) {
                        <div class="service">
                            <div  style="color: black; font-size: 30px ">@comment.user.firstname</div>
                            @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.ADMIN) {
                                <a onclick="return deleteConfirmation()" href="@routes.Comments.deleteComment(comment.id)">
                                    <button class="btn btn-danger" style="float: right;">Delete</button>
                                </a>
                            }
                            <br>
                            <div style="color: black; font-size: 25px ">@comment.title</div>
                            <p style="color: white" required>@comment.content</p>
                            <div style="font-size: 25px"><i>This user rated hotel with:</i> @comment.rating</div>
                                <form method="delete" action="@routes.Comments.deleteComment(comment.id)">
                                </form>
                            <hr>
                            }

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

}

<script>
$(document).ready(function(){
    $('#restaurantOpen').click(function() {
       if ($('#restaurantDiv').is(':hidden')) {
            $('#restaurantDiv').show();
        } else {
            $('#restaurantDiv').hide();
        }
    });
});
</script>

