@import models.Comment
@import java.lang.Boolean
@import helpers.UserAccessLevel
@import models.Restaurant

@(hotel: Hotel)(hasRights: Boolean)(hasCommented: Boolean)(currentUser: AppUser)(rooms: List[Room])(features: List[HotelFeature])
@import helper._
@main {
    <script src="@routes.Assets.versioned("javascripts/deleteComment.js")"></script>
    <script src='@routes.Assets.versioned("javascripts/js/coordinate2.js")'></script>

    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>@hotel.name</h2>
                    </div>


                    <div class="col-md-6 col-md-offset-0 ">
                        <div class="margintop">
                            <div class="about text-center">
                                @if(hotel.images.size() == 0) {
                                    <img src="http://placehold.it/400x300" class="img-responsive img-thumbnail" alt=""/>
                                } else {
                                    @if(hotel.images.size() != 0) {
                                        <div id="myCarousel" class="carousel slide center-block" data-ride="carousel" style="width:400px;">
                                                <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="@hotel.images.get(0).getSize(400, 300)" alt="Chania">
                                                </div>
                                                @for(image <- hotel.images) {
                                                    <div class="item">
                                                        <img src="@image.getSize(400, 300)"/>
                                                    </div>
                                                }
                                            </div>
                                                <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    }

                                }
                                <h4>Hotel Adress: @hotel.location</h4>
                            </div>
                        </div>
                    </div>

                        <!-- description -->
                    <div class="col-md-6  ">
                        <div class="col-md-10 col-md-offset-0">
                            <div class="about">
                                <h3>Description</h3>
                                <div class="info-detail">
                                <h4>
                                @hotel.description
                                </h4>
                                    </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="hotel-section-map" class="marginbottom">
                <div class="container">

                    <div class=" text-left">
                        <input id="gLat" name="coordinateX" value="@hotel.coordinateX">
                        <input id="gLng" name="coordinateY" value="@hotel.coordinateY">
                        <div id="mapCanvas" class="shrinked-map"></div>
                        <div id="infoPanel" style="display: none">
                            <div id="info"></div>
                        </div>


                    </div>
                </div>
            </section>




                <section id="hotel-section-features" class="marginbottom">
                    <div class="container">

                            <!-- features and galery -->
                        <div class="about ">
                            <div class="col-md-10 col-md-offset-0">
                                <h3>Features</h3>
                                <div class="info-detail">
                                @if(features.size != 0) {
                                <ul>
                                    <div class="about" style="text-transform: capitalize;">
                                    @for(feature <- features) {
                                        <h4>
                                            @feature.feature.name
                                            @if(!feature.isFree) {
                                                - will cost @feature.price extra $
                                            }
                                            <div class="col-md-1">
                                                <img src="@feature.feature.icon.getSize(30, 30)"/>
                                            </div>

                                        </h4>
                                    }

                                    </div>
                                </ul>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                </section>


            @if(Restaurant.findRestaurantByHotelId(hotel.id) != null) {
                <section id="hotel-section-restaurant" class="marginbottom">
                    <div class="container">
                        <div class="about ">
                            <div class="col-md-10 col-md-offset-0">
                                <div>
                                    <h3 style="cursor: pointer;" class="link-hover" id="restaurantOpen">@Restaurant.findRestaurantByHotelId(hotel.id).name<i class="glyphicon glyphicon-triangle-bottom" style="float:right"></i> </h3>
                                    <div id="restaurantDiv" class="info-detail" hidden>
                                        <div class="about">
                                            <h4>Type of MENU: @Restaurant.findRestaurantByHotelId(hotel.id).restauranType </h4>
                                            <br>
                                            <h4>Description: @Restaurant.findRestaurantByHotelId(hotel.id).description</h4>
                                            <br>
                                            <h4>Working hours: @Restaurant.findRestaurantByHotelId(hotel.id).workingHours</h4>
                                            <h4> </h4>
                                            <br>
                                            <h4>Capacity (number of seats): @Restaurant.findRestaurantByHotelId(hotel.id).capacity</h4>
                                            <br>
                                            @if(Restaurant.findRestaurantByHotelId(hotel.id).images.size() != 0) {
                                                <h4>RESTAURANT GALLERY</h4>
                                            }
                                            <div class="info-detail">
                                            @if(Restaurant.findRestaurantByHotelId(hotel.id).images.size() != 0) {
                                                @for(image <- Restaurant.findRestaurantByHotelId(hotel.id).images) {
                                                    <img src="@image.getSize(300, 200)"/>
                                                }
                                            }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    }

        </section>

            @if(hotel.rooms.size() != 0) {
                <section id="hotel-section-rooms" class="marginbottom">
                    <div class="container">
                            <div class="col-md-10 col-md-offset-0">
                                <div class="about">
                                    <h3 style="cursor : pointer ;" class="link-hover" id="roomsOpen">
                                        ROOMS </h3>

                                <!--    <i class="glyphicon glyphicon-triangle-bottom" style="float : right"></i>
                                    <div id="roomsDiv" class="info-detail" hidden>  -->

                                            <table class="table">
                                                <thead>
                                                    <tr class="about" >
                                                        <th id="textcenter" style="font-size: 22px">Name</th>
                                                        <th id="textcenter" style="font-size: 22px">Beds</th>
                                                        <th></th>
                                                        <th></th>
                                                        @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.SELLER) {
                                                            <th id="textcenter" style="font-size: 22px">Edit</th>
                                                            <th id="textcenter" style="font-size: 22px">Delete</th>
                                                        }
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                @for(room <- rooms) {
                                                    @if(room.hotel == hotel) {
                                                        <tr class="about" id="textcenter">
                                                            <td style="font-size: 22px ;">@room.name</td>
                                                            <td style="font-size: 22px ;">@room.numberOfBeds</td>
                                                            <td>
                                                                <a href="@routes.Rooms.showRoom(room.id)">
                                                                    <button class="btn btn-warning" data-role="edit"  id="middlebuttons">
                                                                        View room</button>
                                                                </a>
                                                            </td>
                                                            @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.BUYER) {
                                                                <td>
                                                                    <a href="@routes.Rooms.showRoom(room.id)">
                                                                        <button class="btn btn-warning" id="middlebuttons">
                                                                            CREATE RESERVATION</button>
                                                                    </a>
                                                                </td>
                                                            }

                                                            @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.SELLER) {
                                                                <td></td>
                                                                <td>
                                                                    <a href="@routes.Rooms.editRoom(room.id)">
                                                                        <i class="glyphicon glyphicon-pencil" data-role="edit" style="font-size:22px;
                                                                        color: #42b3e5;"></i>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a onclick="return deleteConfirmation()" data-toggle="modal" href="@routes.Rooms.deleteRoom(room.id)">
                                                                        <i class="glyphicon glyphicon-trash" data-role="delete" style="font-size:22px;
                                                                        color: #42b3e5;"></i>
                                                                    </a>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }
                                                }

                                                </tbody>
                                            </table>

                                    </div>
                                </div>
                     </div>

                </section>
            }

           <!-- @if(hotel.images.size() != 0) {
                <section id="hotel-section-gallery" class="marginbottom">
                    <div class="container">
                        <div class="about ">
                            <div class="col-md-10 col-md-offset-0 about">
                                <h3>Gallery</h3>
                                <div class="info-detail">

                                @for(image <- hotel.images) {
                                    <img src="@image.getSize(300, 200)"/>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }-->

            <section id="hotel-section-comments" class="marginbottom">
                <div class="container">
                    <div class="about">
                        <div class="col-md-10 col-md-offset-0">

                            <h3>Comments</h3>
                            <div class="info-detail">
                            @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.BUYER) {
                                <form action="@routes.Comments.insertComment(hotel.id)" method="POST">

                                @if(hasRights) {
                                    @if(hasCommented) {
                                        <div style="text-align : right">
                                            <font size="6"><i>You already commented this hotel.</i></font>
                                            <hr>
                                        </div>
                                    } else {
                                        <div class="form-group">
                                            <div>
                                                <h4>User: @request.cookies.get("name").value()</h4>

                                            </div>
                                            <h4 for="usr">Title:</h4>

                                            <input type="text" class="form-control" style="font-size: 17px;" id="usr" name="title" required>

                                            <h4 for="comment">Comment:</h4>

                                            <textarea class="form-control" rows="5" id="comment" style="resize : none; font-size: 18px;" name="content" required></textarea>

                                            <h4 for="rate">Rate hotel:</h4>


                                            <select id="rate" name="rating" class="form-control" onchange="" style="width : 70 px">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <div class="acidjs-rating-stars" name="rating" id="rate">
                                                @*<form>*@
                                                @*<input type="radio" name="group-2" id="group-2-0" value="5" /><label for="group-2-0"></label>*@
                                                @*<input type="radio" name="group-2" id="group-2-1" value="4" /><label for="group-2-1"></label>*@
                                                @*<input type="radio" name="group-2" id="group-2-2" value="3" /><label for="group-2-2"></label>*@
                                                @*<input type="radio" name="group-2" id="group-2-3" value="2" /><label for="group-2-3"></label>*@
                                                @*<input type="radio"  checked="checked" name="group-2" id="group-2-4"  value="1" /><label for="group-2-4"></label>*@
                                                @*</form>*@
                                            </div>

                                        </div>
                                        <div style="float : right">
                                            <button type="submit"  class="btn btn-primary book">POST</button>
                                        </div>
                                    }
                                } else {
                                    <div style="text-align : right">
                                        <font size="6"><i>You do not have rights to comment this hotel.</i></font>
                                        <hr>
                                    </div>
                                }
                                </form>
                            }
                            </div>
                        </div>
                    </div>



                    <div class="contact-info ">
                        <div class="col-md-10 col-md-offset-0">
                            @for(comment <- hotel.comments) {
                                <div id="comment-to-delete" class="service">
                                    <div  style="color: black; font-size: 30px ">@comment.user.firstname</div>
                                    @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.ADMIN) {
                                        <a id="commDel" data-role="delete" data-delete-parent="#comment-to-delete" href="@routes.Comments.deleteComment(comment.id)" role="button">
                                            <i class="rediconcolor fa fa-trash-o fa-lg" style="float: right;"></i></a>
                                    }
                                    <br>
                                    <div style="color: black; font-size: 25px ">@comment.title</div>
                                    <p style="color: white" required>@comment.content</p>
                                    <div style="font-size: 25px"><i>This user rated hotel with:</i> @comment.rating</div>

                                    <hr>
                                    }

                        </div>
                        </div>


                    </div>


                </div>
            </section>
        }
</div>
</div>

<script>
$(document).ready(function(){
    $('#restaurantOpen').click(function() {
       if ($('#restaurantDiv').is(':hidden')) {
            $('#restaurantDiv').show();
        } else {
            $('#restaurantDiv').hide();
        }
    });
});
</script>
<script>
$(document).ready(function(){
    $('#roomsOpen').click(function() {
       if ($('#roomsDiv').is(':hidden')) {
            $('#roomsDiv').show();
        } else {
            $('#roomsDiv').hide();
        }
    });
});
</script>
