@(hotels: java.util.List[Hotel])
@main {

    @helper.form(action = routes.NewsletterController.sendPromotion(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {

        <div  id="main-background">
            <div class="container" id="background">
                <section id="hotel-section1" class="marginbottom">
                    <div class="container">
                        <div class="about text-center">
                            <h2>CREATE PROMOTION</h2>
                        </div>
                    </div>
                </section>

                <section>

                    <div class="form-group ">
                        <div class="about">
                            <h4 for="select" class="col-lg-2 control-label">Choose hotel</h4>
                        </div>
                        <div class="col-xs-9">
                            <select class="form-control input" id="select" name="hotel">
                            @for(hotel <- hotels) {
                                <option class="input" value="@hotel.id">@hotel.name @hotel.city</option>
                            }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="about">
                        <h4 for="title" class="col-lg-2 control-label">Title</h4>
                        </div>
                        <div class="col-xs-9">
                            <input name="title" type="text" class="form-control input" id="title" placeholder="Promotion title" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="about">
                        <h4 for="textArea" class="col-lg-2 control-label">Promotion content</h4>
                            </div>
                        <div class="col-xs-9">
                            <textarea name="content" class="form-control font-size-22" rows="5" id="textArea" placeholder="Write your promotion here." required style="resize: vertical" ></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-9">
                            <button type="submit" class="btn btn-primary" id="subscribe" href="@routes.NewsletterController.sendPromotion()">
                                Send to all subscribers</button>
                        </div>
                    </div>
                </section>


    }
</div>
}
</div>