@import helpers.CommonHelperMethods
@import helpers.ReservationStatus

@(rooms: List[Room])(hotel: Hotel)(currentUser: AppUser)

@main {

    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>@hotel.name</h2>
                    </div>
                </div>
            </section>

            <section>
                <div class="col-md-0 contact-form">
                    <div class="about">
                        <h3>Reservations</h3>
                    </div>
                    <div class="info-detail">
                    <table class="table">
                        <thead>
                            <tr class="about">
                                <th class="text-align">Guest </th>
                                <th class="text-align">Room</th>
                                <th class="text-align">Beds</th>
                                <th class="text-align">Check-in </th>
                                <th class="text-align">Check-out </th>
                                <th class="text-align">Reservation date</th>
                                <th class="text-align">Price</th>

                                <th class="text-align" style="font-size: 30px ;">Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody style="font-size : 20px">
                        @if(rooms.size != 0) {
                            @for(room <- rooms) {
                                @if(room.reservations != 0) {
                                    @for(reservation <- room.reservations) {
                                        <tr class="about text-align">
                                            <td>@reservation.user.firstname @reservation.user.lastname</td>
                                            <td>@room.name</td>
                                            <td>@room.numberOfBeds</td>
                                            <td>@CommonHelperMethods.getDateAsString(reservation.checkIn)</td>
                                            <td>@CommonHelperMethods.getDateAsString(reservation.checkOut)</td>
                                            <td>@reservation.createDate</td>
                                            <td>@reservation.cost $</td>
                                            @if(reservation.status == ReservationStatus.APPROVED) {
                                                <td class="text-align" style="color : #189800">APPROVED</td>
                                            }
                                            @if(reservation.status == ReservationStatus.COMPLETED){
                                                <td class="text-align" style="color :#42b3e5">COMPLETED</td>
                                            }
                                            @if(reservation.status == ReservationStatus.CANCELED){
                                                <td class="text-align" style="color : red ">CANCELED</td>
                                            }

                                        </tr>
                                    }
                                }
                            }
                        }
                        </tbody>
                    </table>
                        </div>
                </div>
            </section>

        </div>
        }
    </div>
