@(hotels: java.util.List[Hotel])
@main {
    <div  id="main-background">
        <div class="container" id="background">
            <div class="row">
                <div class="about clearfix">
                    <section id="hotel-section1">
                        <div class="container">
                            <div class="about text-center">
                                <h2>Your hotels</h2>
                                <div style="font-size: 25px; color: #33FF00;">
                                    @if(flash.containsKey("create")){
                                        @flash.get("create")
                                    }
                                    @if(flash.containsKey("delete")){
                                        @flash.get("delete")
                                    }
                                    @if(flash.containsKey("edit")){
                                        @flash.get("edit")
                                    }

                                </div>
                            </div>
                        </div>
                    </section>

                   <section>
                        <div class="col-md-11 col-md-offset-1 contact-form">
                            <h3>The list of your hotels</h3>
                            <div class="info-detail">

                            <table class="table">
                                <thead>
                                    <tr class="about">
                                        <th>HOTEL</th>
                                        <th>ADDRESS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @for(hotel <- hotels) {
                                    @if(hotel.sellerId == Integer.parseInt(request().cookies().get("userId").value())) {
                                        <tr class="about">

                                            <td>@hotel.name</td>
                                            <td >@hotel.location</td>

                                            <td>
                                                <a onclick="" href="@routes.Rooms.createRoom(hotel.id)">
                                                    <button class="btn btn-success" id="middlebuttons">ADD ROOM</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a onclick="" href="@routes.Restaurants.createRestaurant(hotel.id)">
                                                    <button class="btn btn-success" id="middlebuttons">RESTAURANT</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a onclick="" href="@routes.Rooms.hotelReservations(hotel.id)">
                                                    <button class="btn btn-warning" id="middlebuttons">RESERVATIONS</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a onclick="" href="@routes.Rooms.showRooms(hotel.id)">
                                                    <button class="btn btn-warning" id="middlebuttons">ROOMS</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a onclick="" href="@routes.Hotels.editHotel(hotel.id)">
                                                    <button class="btn btn-warning" id="middlebuttons">EDIT</button>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }

                                </tbody>
                            </table>
                                </div>
                        </div>

                </section>


            </div>
        </div>
            </div>
        }
</div>
