@(hotels: java.util.List[Hotel])
    @main {
        <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>Hotels</h2>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminHotels()">
                        <button id="hotelsbtn" class="btn-default" style="background-color:darkorange;color:white;width : 70% ; height : 100px ; font-size : 30px">
                            Hotels
                        </button>
                    </a>
                </div>

                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminUsers()">
                        <button id="hotelsbtn" class="btn-success" style="width : 70% ; height : 100px ; font-size : 30px">
                            Users
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminFeatures()">
                        <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                            Features
                        </button>
                    </a>
                </div>


                <div>
                    <br/>
                <table class="table table-responsive">
                    <thead>
                        <tr class="service">
                            <th style="font-size: 30px;">Name</th>
                            <th style="font-size: 30px;">Location</th>
                            <th style="font-size: 30px;">Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(hotel <- hotels) {
                        <tr class="service" >
                            <td style="font-size: 22px;">@hotel.name</td>
                            <td style="font-size: 22px;">@hotel.location</td>
                            <td style="font-size: 22px;">@hotel.description</td>
                            <td>
                                <a data-role="delete" data-delete-parent="tr" href="@routes.Hotels.deleteHotelAdmin(hotel.id)" role="button">
                                    <i class="rediconcolor fa fa-trash-o fa-lg"></i></a>
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>

                </div>
            </div>
        </div>
    </div>
    }