@(users: java.util.List[AppUser])
@main {
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>users</h2>
                </div>

                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminHotels()">
                        <button id="hotelsbtn" class="btn-danger" style="width : 70% ; height : 100px ; font-size : 30px">
                            Hotels
                        </button>
                    </a>
                </div>

                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminUsers()">
                        <button id="hotelsbtn" class="btn-success" style="width : 70% ; height : 100px ; font-size : 30px">
                            Users
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminFeatures()">
                        <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                            Features
                        </button>
                    </a>
                </div>

                <table class="table table-responsive">
                    <thead>
                        <tr class="service">
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                            <th>Delete</th>
                            <th>Change Role</th>
                            <th>Submit</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(user <- users) {

                            <tr class="service">
                                <td>@user.firstname</td>
                                <td>@user.lastname</td>
                                <td>@user.email</td>
                                @if(user.userAccessLevel == 4) {
                                    <td>Hotel Manager</td>
                                }
                                @if(user.userAccessLevel == 3) {
                                    <td>Seller</td>
                                }
                                @if(user.userAccessLevel == 2) {
                                    <td>Buyer</td>
                                }
                                @if(user.userAccessLevel == 1) {
                                    <td>Admin</td>
                                }
                                <td></td>
                                <form method="delete" action="@routes.Users.deleteUser(user.email)">
                                    <td>
                                        <a onclick=" return deleteConfirmation()" href="@routes.Users.deleteUser(user.email)">
                                            <button data-role="delete" class="btn btn-danger">Delete</button>
                                        </a>

                                    </td>
                                </form>
                                <form method="post" action="@routes.Users.setRole(user.email)" >
                                    <td>
                                        <select name="usertype" class="form-control" onchange="@routes.Users.setRole(user.email)" >
                                            <option value="buyer">Buyer</option>
                                            <option value="seller">Seller</option>
                                            <option value="hotelmanager">Hotel Manager</option>
                                        </select>

                                    </td>
                                    <td><button class="edvin-button-role" type="submit">Change role</button></td>
                                </form>
                            </tr>

                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}