@import helper._
@main {
    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>ADMIN PANEL</h2>
                    </div>
                </div>
            </section>
            <section class="marginbottom-admin">
                <div class="col-md-3">
                    <br/>
                    <a href="@routes.Users.showAdminHotels()">
                        <button id="hotelsbtn" class="btn-default" style="background-color:darkorange;color:white;width : 70% ; height : 100px ; font-size : 30px">
                            Hotels
                        </button>
                    </a>
                </div>
                <div class="col-md-3">
                    <br/>
                    <a href="@routes.Users.showAdminUsers()">
                        <button id="hotelsbtn" class="btn-success" style="width : 70% ; height : 100px ; font-size : 30px">
                            Users
                        </button>
                    </a>
                </div>
                <div class="col-md-3">
                    <br/>
                    <a href="@routes.Users.showAdminFeatures()">
                        <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                            Features
                        </button>
                    </a>
                </div>
                <div class="col-md-3">
                    <br/>
                    <a href="@routes.Questions.seeAll()">
                        <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                            FAQ
                        </button>
                    </a>
                </div>
            </section>

        </div>
        }
</div>