@import helper._
@main {
    <div class="contact-caption clearfix">
        <div class="contact-heading text-center">
            <h2>ADMIN PANEL</h2>
        </div>
        <div class="col-md-4">
            <br/>
            <a href="@routes.Users.showAdminHotels()">
                <button class="btn-danger" style="width : 100% ; height : 200px ; font-size : 30px">
                    Hotels
                </button>
            </a>
        </div>
        <div class="col-md-4">
            <br/>
            <a href="@routes.Users.showAdminUsers()">
                <button class="btn-success" style="width : 100% ; height : 200px ; font-size : 30px">
                    Users
                </button>
            </a>
        </div>
        <div class="col-md-4">
            <br/>
            <a href="@routes.Users.showAdminFeatures()">
                <button class="btn-primary" style="width : 100% ; height : 200px ; font-size : 30px">
                    Features
                </button>
            </a>
        </div>
    </div>


}