@(features: java.util.List[Feature])
    @main {
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>Features</h2>
                    </div>

                    <div class="col-md-4">
                        <br/>
                        <a href="@routes.Users.showAdminHotels()">
                            <button id="hotelsbtn" class="btn-danger" style="width : 70% ; height : 100px ; font-size : 30px">
                                Hotels
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <br/>
                        <a href="@routes.Users.showAdminUsers()">
                            <button id="hotelsbtn" class="btn-success" style="width : 70% ; height : 100px ; font-size : 30px">
                                Users
                            </button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <br/>
                        <a href="@routes.Users.showAdminFeatures()">
                            <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                                Features
                            </button>
                        </a>
                    </div>


                    <table class="table table-responsive service">
                        <thead>
                            <tr >
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(feature <- features) {
                                <tr class="service">
                                    <td>@feature.name</td>
                                    <td name="feature">
                                        <form method="delete" action="@routes.Features.deleteFeature(feature.id)">
                                            <a onclick="return deleteConfirmation()" href="@routes.Features.deleteFeature(feature.id)">
                                                <button class="btn btn-danger">Delete</button>
                                            </a>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="@routes.Features.editfeature(feature.id)">
                                            <button class="btn btn-warning">Edit</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <a href="@routes.Features.createFeature()">

                                        <button class="edvin-button">Add new feature</button>

                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }


