@(hotels: java.util.List[Hotel])
@main {
    <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/sort.js")"></script>
    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>HOTELS</h2>
                    </div>
                </div>
            </section>
            <section class="marginbottom-admin-hotels">

                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminUsers()">
                        <button id="hotelsbtn" class="btn-success" style="width : 70% ; height : 100px ; font-size : 30px">
                            Users
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Users.showAdminFeatures()">
                        <button id="hotelsbtn" class="btn-primary" style="width : 70% ; height : 100px ; font-size : 30px">
                            Features
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="@routes.Questions.seeAll()">
                        <button id="hotelsbtn" class="btn-danger" style="width : 70% ; height : 100px ; font-size : 30px">
                            FAQ
                        </button>
                    </a>
                </div>
            </section>

            <section id="tablemargins">
                <table class="table table-responsive" id="sort">
                    <thead>
                        <tr class="about">
                            <th>Name</th>
                            <th>Location</th>
                            <th>City</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(hotel <- hotels) {
                        <tr class="about" >
                            <td>@hotel.name</td>
                            <td>@hotel.location</td>
                            <td>@hotel.city</td>
                            <td>
                                <a data-role="delete" data-delete-parent="tr" href="@routes.Hotels.deleteHotelAdmin(hotel.id)" role="button">
                                    <i class="rediconcolor fa fa-trash-o fa-lg"></i></a>
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </section>



        </div>
        }

</div>

<script>

</script>