@(questions: java.util.List[Question])
@import helpers.UserAccessLevel


@main {

<script src="@routes.Assets.versioned("javascripts/deleteFAQ.js")"></script>

    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>FAQ</h2>
                </div>
                <div>
                @if(flash.containsKey("save")) {
                    <b> <span style="font-size: 24px; color: #00FF00;">
                    @flash.get("save")
                    </span></b>
                }
                </div>
                <div>
                @if(flash.containsKey("update")) {
                    <b>  <span style="font-size: 24px; color: #00FF00;">
                    @flash.get("update")
                    </span></b>
                }
                </div>
                <div>
                @if(flash.containsKey("delete")) {
                    <b> <span style="font-size: 24px; color: #00FF00;">
                    @flash.get("delete")
                    </span></b>
                }
                </div>
                <table class="table table-responsive" style="font-size: 45px;">
                    <thead>
                        <tr class="service">
                            <th>Question</th>
                            <th>Answer</th>
                            <th></th>

                                <th>Edit</th>
                                <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                    @for(question <- questions) {

                            <tr class="service">
                                <td style="font-size: 22px;">@question.question</td>
                                <td style="font-size: 22px;">@question.answer</td>
                                <td></td>
                                <td><a href="@routes.Questions.editFAQ(question.id)"><button class="btn btn-warning" style="font-size: 18px;">Edit</button></a></td>
                                <td><a data-role="delete" data-delete-parent="tr" href="@routes.Questions.deleteFAQ(question.id)" role="button">
                                    <i class="rediconcolor fa fa-trash-o fa-lg"></i></a></td>

                                <td></td>

                            </tr>


                    }
                    </tbody>
                </table>

                <a href="@routes.Questions.createFAQ()">
                    <button class="btn btn-success"  id="middlebuttons">Create FAQ</button>
                </a>
            </div>
        </div>
    </div>

}