@(features: List[Feature])(hotelId: Integer)
    @import helper._
    @main {
        @helper.form(action = routes.Rooms.saveRoom(hotelId)) {
            <form class="form">
                <div class="container">
                    <div class="row">
                        <div class="contact-caption clearfix">
                            <div class="contact-heading text-center">
                                <h2>CREATE ROOM</h2>
                            </div>
                            <div class="col-md-6 col-md-offset-1 contact-form">
                                <h3>room information</h3>
                                <div class="info-detail">

                                <input name="name" class="name" type="text" placeholder="Room Name" required>
                                <input name="numberOfBeds" class="phone" type="number" placeholder="Number of beds" min="1" max="5" required>
                                <input name="roomType" type="number" min="1" placeholder="Number of rooms">
                                <textarea  class="message" name="description" id="message" cols="30" rows="10" style="resize : none" placeholder="Description" required></textarea>
                                    <a href="@routes.Rooms.saveRoom(hotelId)"> <input class="submit-btn" id="add-room-submit"  type="submit" value="SUBMIT" ></a>
                                     <a href="@routes.Hotels.showSellerHotels(hotelId)"> <input class="submit-btn" id="add-room-back" style="background-color : #0066FF ; border-radius : 5px; width: 90px; float: left;" type="button" value="BACK" ></a>
                                </div>
                                <div>
                                    <br><br>
                                </div>
                            </div>

                            <div class="col-md-5  contact-form">

                                    <h3>Features</h3>
                                <div class="info-detail">
                                    @for(feature <- features) {
                                        <div>
                                            <span>
                                                <input type="checkbox" style="width: 16px; height: 16px;" class="fa-check-circle" id="@feature.id" name="@feature.name"/>
                                                <label style="font-size: 19px; color: #FFFFFF;" for="@feature.name">@feature.name</label>
                                            </span>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                    <!-- end of contact section -->
            </form>
        }
    }