@import helpers.UserAccessLevel
@import helpers.CommonHelperMethods
@import models.AppUser
@(room: Room)(currentUser: AppUser)
@main {
    <div  id="main-background">
        <div class="container" id="background">

            <section id="hotel-section1">
                <div class="container">
                    <div class="about text-center">
                        <h2>@room.name</h2>
                    </div>
                </div>
            </section>

            <section id="room-section-picture-desc">
                <div class="row">
                    <div class="col-md-5 about text-center">
                        @if(room.images.size() != 0){
                            <img src="@room.images.get(0).getSize(400,300)"/>

                        }else {
                            <img src="http://placehold.it/400x300" class="img-responsive img-thumbnail" alt=""/>
                        }
                        @if(room.roomType != 0){
                            <label id="available">THERE IS @room.roomType ROOM(S) AVAILABLE</label>

                        } else {
                            <label id="not-available">NOT AVAILABLE</label>
                        }

                    </div>


                    <div class="col-md-5 col-md-offset-1 about">
                        <h3>Description</h3>
                        <div class="info-detail">
                            <h4 style="font-size: 25px;">@room.description</h4>
                        </div>
                        <div id="margintop">
                        <h3>Features</h3>
                        <div class="info-detail">
                            <ul>
                                <div class="service" style="text-transform : capitalize ;">

                                @for(feature <- room.features) {
                                    <tr>
                                        <td>@feature.name</td>
                                        <td> <img src="@feature.icon.getSize(30, 30)"/></td>

                                    </tr>
                                    @*<li style="font-size : 16px ;">*@
                                    @*@feature.name*@
                                    @*<img src="@feature.icon.getSize(30, 30)"/>*@

                                    @*</li>*@
                                }

                                </div>
                            </ul>
                        </div>
                        </div>

                    </div>
                </div>

            </section>

            @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.SELLER) {
                @if(AppUser.sellersHotelByRoomId(room, currentUser)) {
                    <div class="marginleft">
                        <a href="@routes.Rooms.editRoom(room.id)" ><button class="btn btn-warning edit ">EDIT</button> </a>
                    </div>
                }
            }


            <div class="row" id="margintop">
                @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.BUYER) {
                    <section id="room-section-reservation">

                        <div class="col-md-5 about text-left">
                            <h3>Make your reservation</h3>
                            <div class="info-detail">
                                <div class="duplicate-email" style="font-size : 20px ; color : red">
                                @if(flash.containsKey("error")) {
                                    @flash.get("error")
                                }
                                </div>

                                <form method="post"  action="@routes.Reservations.payPal(room.id)">
                                    <div class="col-md-5">
                                        <div class="about">
                                            <h4>Check-in:</h4>
                                        </div>
                                        <input class="date-class" name="checkIn" id="date" placeholder="select date"/>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="about">
                                            <h4>Check-out:</h4>
                                        </div>
                                        <input class="date-class" name="checkOut" id="date2" placeholder="select date" onchange="sendData(@room.id)"/>
                                    </div>


                                    <span class="font-size-20" id="price-for-period" style="float: right"></span>
                                    <div class="col-md-5">
                                    @if(room.prices.size() == 0 || room.roomType == 0) {
                                        <button class="btn btn-primary book" disabled>Book it</button>
                                    } else {
                                        <button class="btn btn-primary book" >Book it</button>
                                    }
                                    </div>

                                </form>
                            </div>


                        </div>

                        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/priceForReservation.js")"></script>

                    </section>
                }

                <section id="room-section-price">

                    <div class="col-md-5 col-md-offset-1 about text-left">
                    @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.BUYER) {
                        <h3>Prices</h3>
                        <div class="info-detail">
                            <table class=" table table-stripped">
                                <thead>
                                    <tr class="about">
                                        <th>Start date </th>
                                        <th>End date</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if(room.prices.size() != 0) {
                                    @for(price <- room.prices) {
                                        <tr>
                                            <td>@CommonHelperMethods.getDateAsString(price.dateFrom)</td>
                                            <td>@CommonHelperMethods.getDateAsString(price.dateTo)</td>
                                            <td>@price.cost $</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>

                        </div>
                    }
                    </div>

                </section>
            </div>

        </div>
        }

</div>



