@(rooms: List[Room])(hotel: Hotel)
@main{

<div class="container" style="background-color: #204d74">
     <div class="container" style="background-color: seashell; width: 90%; margin-bottom: 5%; margin-top: 5%;">
         <div class="col-md-12">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Description</th>
                         <th>Number of beds</th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>

                     @for(room <- rooms) {
                         @if(room.hotel == hotel) {


                             <tr>
                                 <td>@room.name</td>
                                 <td>@room.description</td>
                                 <td>@room.numberOfBeds</td>

                                 <td>
                                     <a onclick="return deleteConfirmation()" href="@routes.Rooms.deleteRoom(room.id)">
                                         <button class="btn btn-danger" data-role = "delete" >Delete</button>
                                     </a>
                                 </td>
                                 <td>
                                     <a href="@routes.Rooms.updateRoom(room.id)">
                                         <button class="btn btn-primary" data-role = "edit">Edit</button>
                                     </a>
                                 </td>

                             </tr>
                         }
                     }

                 </tbody>
             </table>
         </div>
     </div>
 </div>

}