@import helpers.UserAccessLevel
@import helpers.SessionsAndCookies
@(rooms: List[Room])(hotel: Hotel)(currentUser: AppUser)

@main{
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>@hotel.name</h2>
                    </div>

                    <div class="col-md-0 col-md-offset-1 contact-form">
                        <h3>@hotel.name rooms</h3>


                        <table class="table">
                            <thead>
                                <tr class="service">
                                    <th style="font-size: 30px;">Name</th>
                                    <th style="font-size: 30px;">Number of beds</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                            @for(room <- rooms) {
                                @if(room.hotel == hotel) {
                                    <tr class="service">
                                        <td style="font-size: 22px;">@room.name</td>
                                        <td style="font-size: 22px;">@room.numberOfBeds</td>
                                        @if(currentUser != null && currentUser.userAccessLevel == UserAccessLevel.SELLER) {
                                            <td>
                                                <a onclick="return deleteConfirmation()" href="@routes.Rooms.deleteRoom(room.id)">
                                                    <button class="btn btn-danger" data-role = "delete" style="font-size: 17px;">Delete</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@routes.Rooms.editRoom(room.id)">
                                                    <button class="btn btn-warning" data-role = "edit" style="font-size: 17px;">Edit</button>
                                                </a>
                                            </td>
}
                                        <td>
                                            <a href="@routes.Rooms.showRoom(room.id)">
                                                <button class="btn btn-warning" style="font-size: 17px;">View</button>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>
                        <br><br>
                        @if(currentUser.userAccessLevel == UserAccessLevel.SELLER){
                        <a href="@routes.Hotels.showSellerHotels(hotel.id)"> <input class="submit-btn" style="background-color : #0066FF ; border-radius : 5px; width: 90px; margin-left: 9.2cm;" type="button" value="BACK" ></a>
                        }else{
                            <a href="@routes.Hotels.showHotel(hotel.id)"> <input class="submit-btn" style="background-color : #0066FF ; border-radius : 5px; width: 90px; margin-left: 9.2cm;" type="button" value="BACK" ></a>

                        }


                    </div>
                    <div>

                    </div>

                </div>

            </div>
        </div>

    }
