@import helpers.UserAccessLevel
@import helpers.SessionsAndCookies
@(rooms: List[Room])(hotel: Hotel)(implicit currentUser: AppUser = SessionsAndCookies.getCurrentUser(ctx()))

@main{
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>@hotel.name</h2>
                    </div>

                    <div class="col-md-0 col-md-offset-1 contact-form">
                        <h3>@hotel.name rooms</h3>


                        <table class="table">
                            <thead>
                                <tr class="service">
                                    <th>Name</th>
                                    <th>Number of beds</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                            @for(room <- rooms) {
                                @if(room.hotel == hotel) {
                                    <tr class="service">
                                        <td>@room.name</td>
                                        <td>@room.numberOfBeds</td>

                                            <td>
                                                <a onclick="return deleteConfirmation()" href="@routes.Rooms.deleteRoom(room.id)">
                                                    <button class="btn btn-danger" data-role = "delete" >Delete</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@routes.Rooms.editRoom(room.id)">
                                                    <button class="btn btn-primary" data-role = "edit">Edit</button>
                                                </a>
                                            </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>

    }
