@(room: Room)
    @main{

        @if(Integer.parseInt(request().cookies().get("userTypeId").value()) == 5) {
            <meta charset="UTF-8">
            <div class="container" style="background-color : #f5e79e">
                <div class="row">
                    <form method="post" action="@routes.Rooms.updateRoom(room.id)">
                        <form role="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" rows="10" style="width : 500px ; resize : none" id="name" name="name" value="@room.name">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" rows="10" style="width : 500px ; height : 50px resize: none" id="description" name="description">@room.description</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Number of beds</label>
                                    <select name="numberOfBeds" class="form-control" onchange="" style="width : 500px" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>

                                    </select>
                                </div>


                                <div class="form-group">
                                    <input type="submit" name="submit" id="submit" value="Update" class="btn btn-info" href="@routes.Rooms.updateRoom(room.id)">
                                </div>
                            </div>
                        </form>
                    </form>

                    <div class="col-md-6" style="margin-top : 4 %">

                        @*<a href="@routes.Prices.savePrice(room.id)">*@
                            @*<input type="submit" name="submit" id="submit" value="Add Price" class="btn btn-info">*@
                        @*</a>*@

                    </div>
                </div>
            </div>
        } else {

            <div class="row" style="background-color : #f5e79e">
                <div class="col-md-8">
                    <br/>
                    <h1>Access denied.</h1>
                    <h3>You do not have permissions to see this page.</h3>
                </div>
            </div>
            <hr/>
        }
    }
