@(restaurant: Restaurant)
@import helper._
@import models.Restaurant
@main {
    @helper.form(action = routes.Restaurants.updateRestaurant(restaurant.id), 'enctype -> "multipart/form-data") {
        <script src="@routes.Assets.versioned("javascripts/deleteRestaurant.js")"></script>
        <div  id="main-background">
            <div class="container" id="background">
                <form class="form">
                    <section id="hotel-section1" class="marginbottom">
                        <div class="container">
                            <div class="about text-center">
                                <h2>UPDATE RESTAURANT</h2>
                            </div>
                        </div>
                    </section>


                    <section>
                        <div class="col-md-6 col-md-offset-3 contact-form">

                            <h3>restaurant information</h3>
                            <div class="info-detail">
                                <h4>Name</h4>
                                <input name="name" class="name" type="text" value="@restaurant.name" required>
                                <h4>Cuisine</h4>
                                <input name="restauranType" class="name" type="text" value="@restaurant.restauranType" required>
                                <h4>Capacity</h4>
                                <input name="capacity" class="phone" type="number" value="@restaurant.capacity" min="10" required>


                                <div class="about col-md-12">
                                    <div class="about col-md-6">
                                        <h4>Opens at: </h4>
                                        <input type="time" style="width: 190px; font-size: 15px;" name="restOpen" value="@Restaurant.startsAt(restaurant.id)" required>
                                    </div>

                                    <div class="about col-md-6">
                                        <h4> Closes at:  </h4>
                                        <input type="time" style="width: 190px; font-size: 15px;" name="restClose" value="@Restaurant.closesAt(restaurant.id)" required>

                                    </div>

                                </div>

                                <div class="margintop">

                                        <h4>Description</h4>
                                        <textarea class="message" name="description" id="message" cols="30" rows="10" style="resize : vertical">@restaurant.description</textarea>

                                </div>

                                <h3>Choose pictures for gallery: </h3>
                                <div id="upload-file-container">
                                    <input id="height" type="file" name="image" accept="image/*" class="form-control" multiple/>
                                </div>
                                <div class="margintop">

                                <a href="@routes.Restaurants.updateRestaurant(restaurant.id)"> <input class="submit-btn" id="add-room-submit"  type="submit" value="SUBMIT" ></a>

                                <a class="rest-delete-positon" id="restDel" data-role="delete" href="@routes.Restaurants.deleteRestaurant(restaurant.id)" role="button">
                                    <i class="rediconcolor fa fa-trash-o fa-2x"></i></a>

                                <a href="@routes.Hotels.showSellerHotels()"> <input class="submit-btn" id="add-room-back"  type="button" value="BACK" ></a>

                                </div>



                            </div>
                        </div>

                    </section>



                </form>
            </div>
            }
}
</div>