
@import helper._
@main   {

    <div id="main-background" xmlns="http://www.w3.org/1999/html">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>FORGOT PASSWORD?</h2>
                    </div>
                </div>
                <div style="font-size: 20px; font-weight: bold;">
                @if(flash.containsKey("change-pass-msg")) {

                    <div style="margin-bottom: 10px" class="alert-success alert-success" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        @flash.get("change-pass-msg")

                    </div>
                }
                    </div>
                <div style="font-size: 20px; color: red;">
                @if(flash.containsKey("error")) {
                    <div style="margin-bottom: 10px" class="alert-success alert-success" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        @flash.get("error")
                    </div>
                }
                </div>

            </section>
            <section>
                <div class="col-md-6 col-md-offset-3 contact-form">
                    <h3>Please enter your email address</h3>
                    <div class="info-detail">
                    @helper.form(action = routes.Users.sendChangePasswordRequest()) {
                        <form>
                                <!--input field for email-->
                            <input type="email" id="email" name = "email" required placeholder="e.g. john.doe&#64example.com" required onkeyup="checkEmail();">
                            <div style="font-size: 20px; color: red" id="email_error"></div>

                                <!--submit button-->
                            <input class=" submit-btn submit" id="submit"  type="submit" value="Send">
                        </form>
                    }
                    </div>
                </div>
            </section>


        </div>

}
</div>