@import helpers.ReservationStatus
@import helpers.CommonHelperMethods
@import models.Reservation
@(room: Room)(hotel: Hotel)(reservations: java.util.List[Reservation])(user: AppUser)

@main {
    <script src="@routes.Assets.versioned("javascripts/cancelReservation.js")"></script>
    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>RESERVATIONS</h2>
                    </div>
                </div>
            </section>
            <section>
                <table class="table">
                    <thead>
                        <tr class="about">
                            <th class="text-align" >Hotel </th>
                            <th class="text-align" >Beds</th>
                            <th class="text-align" >Check-in date</th>
                            <th class="text-align" >Check-out date</th>
                            <th class="text-align" >Reservation date</th>
                            <th class="text-align" >Price</th>
                            <th class="text-align" >Status</th>
                            <th class="text-align" >Cancel</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody style="font-size: 20px">
                    @for(reservation <- reservations) {
                        @if(room != null) {
                            @if(room.reservations != 0 && reservation.status != ReservationStatus.PENDING) {
                                <tr class="about">
                                    <div class="text-align">
                                        <td class="text-align">@Reservation.findHotelNameByReservation(reservation)</td>
                                        <td class="text-align">@Reservation.findNumberOfBedsByReservation(reservation)</td>
                                        <td class="text-align">@CommonHelperMethods.getDateAsString(reservation.checkIn)</td>
                                        <td class="text-align">@CommonHelperMethods.getDateAsString(reservation.checkOut)</td>
                                        <td class="text-align">@reservation.createDate</td>
                                        <td class="text-align">@reservation.cost $</td>
                                        @if(reservation.status == ReservationStatus.APPROVED) {
                                            <td class="text-align" style="color : #189800">PAYED</td>
                                        }
                                        @if(reservation.status == ReservationStatus.COMPLETED) {
                                            <td class="text-align" style="color: #42b3e5 ">COMPLETED</td>
                                        }
                                        @if(reservation.status == ReservationStatus.CANCELED) {
                                            <td class="text-align" style="color : red">CANCELED</td>
                                        }


                                        <td class="text-align">
                                        @if(reservation.status.equals(ReservationStatus.APPROVED)) {
                                            <a id="cancelReservation" data-role="cancel" res-id="@reservation.id" href="@routes.Reservations.setStatusByUser(reservation.id)" role="button">
                                                <i class="fa fa-times fa-lg rediconcolor"></i></a>
                                        } else {
                                            @if(reservation.status.equals(ReservationStatus.COMPLETED)) {
                                                Completed
                                            } else {
                                                Already canceled
                                            }
                                        }
                                        </td>
                                    </div>
                                </tr>
                            }
                        }
                    }
                    </tbody>

                </table>

            </section>


                <a href="@routes.Users.updateUser(user.email)"> <input class="btn submit-btn" id="back"  type="button" value="BACK" ></a>

            </div>
}
</div>
