@import helpers.ReservationStatus
@import helpers.CommonHelperMethods
@import models.Reservation
@(room: Room)(hotel: Hotel)(reservations: java.util.List[Reservation])(user: AppUser)

@main {
<div class="container">
    <div class="row">
        <div class="contact-caption clearfix">
            <div class="contact-heading text-center">
                <h2>YOUR RESERVATIONS</h2>
            </div>

            <div class="col-md-0 contact-form">
                <table class="table">
                    <thead>
                    <tr class="service">
                        <th class="text-align" style="font-size : 30px ;">Guest </th>
                        <th class="text-align" style="font-size : 30px ;">Hotel </th>
                        <th class="text-align" style="font-size : 30px ;">Beds</th>
                        <th class="text-align" style="font-size : 30px ;">Check-in date</th>
                        <th class="text-align" style="font-size : 30px ;">Check-out date</th>
                        <th class="text-align" style="font-size : 30px ;">Reservation date</th>
                        <th class="text-align" style="font-size : 30px ;">Price</th>
                        <th class="text-align" style="font-size : 30px ;">Status</th>
                    </tr>
                    </thead>

                    <tbody style="font-size: 20px">
                    @for(reservation <- reservations) {
                       @if(room != null) {
                         @if(room.reservations != 0) {
                             <tr class="service">
                                 <div class="text-align">
                                     <td class="text-align">@reservation.user.firstname</td>
                                     <td class="text-align">@Reservation.findHotelNameByReservation(reservation)</td>
                                     <td class="text-align">@Reservation.findNumberOfBedsByReservation(reservation)</td>
                                     <td class="text-align">@CommonHelperMethods.getDateAsString(reservation.checkIn)</td>
                                     <td class="text-align">@CommonHelperMethods.getDateAsString(reservation.checkOut)</td>
                                     <td class="text-align">@reservation.createDate</td>
                                     <td class="text-align">@reservation.cost $</td>

                                     @if(reservation.status == ReservationStatus.PENDING) {
                                         <td class="text-align" style="color : darkorange">PENDING</td>
                                     }
                                     @if(reservation.status == ReservationStatus.APPROVED) {
                                         <td class="text-align" style="color : lawngreen">APPROVED</td>
                                     }
                                     @if(reservation.status == ReservationStatus.DECLINED) {
                                         <td class="text-align" style="color : red">DECLINED</td>
                                     }
                                     @if(reservation.status == ReservationStatus.COMPLETED){
                                         <td class="text-align" style="color: papayawhip">COMPLETED</td>

                                     }
                                 </div>
                             </tr>
                         }
                       }
                    }
                    </tbody>

                </table>
                <a href="@routes.Users.updateUser(user.email)"> <input class="submit-btn" id="back"  type="button" value="BACK" ></a>

            </div>
        </div>
    </div>
</div>
}