@(questions: List[Question])

@main{
    <div  id="main-background">
        <div class="container" id="background">
            <section id="hotel-section1" class="marginbottom">
                <div class="container">
                    <div class="about text-center">
                        <h2>FREQUENTLY ASKED QUESTIONS</h2>
                    </div>
                </div>
            </section>
            <section>
                <div class="contact-info ">
                    <div class="col-md-11">
                        @for(question <- questions) {
                            <div id="comment-to-delete" class="about">

                                <h4 style="cursor: pointer;" class="link-hover" id="answerOpen@question.id">@question.question<i class="glyphicon glyphicon-triangle-bottom" style="float:right"></i> </h4>
                                <div id="answerDiv@question.id" hidden>
                                    <h4>@question.answer</h4>
                                </div>
                                }
                             </div>
                    </div>
                </div>

            </section>
            <div col-md-1>
                <a href="@routes.Application.searchFAQ()"><button class="submit-btn" id="searchFAQ">SEARCH FAQ</button></a>

            </div>


        </div>
        }
</div>





<script>
$(document).ready(function(){
    @for(question <- questions) {
        var id = @question.id;
        $('#answerOpen' + @question.id).click(function() {
           if ($('#answerDiv' + @question.id).is(':hidden')) {
                $('#answerDiv' + @question.id).show();
            } else {
                $('#answerDiv' + @question.id).hide();
            }
         });
    }
});
</script>