@(questions: List[Question])

@main{
<section>
<div class="container">
    <div class="row">
        <div class="contact-caption clearfix">
            <div class="contact-heading text-center">
                <h2>Frequently asked questions</h2>
                <div>
               <a href="@routes.Application.searchFAQ()"><button style="float: right; margin-right: 0.2cm; font-size: 20px;" class="btn btn-success">Search FAQ</button></a>
                </div>
            </div>
            <div class="contact-info ">
                <div class="col-md-10 col-md-offset-0">
                    @for(question <- questions) {
                    <div id="comment-to-delete" class="service">

                        <h3 style="cursor: pointer;" class="link-hover" id="answerOpen@question.id">@question.question<i class="glyphicon glyphicon-triangle-bottom" style="float:right"></i> </h3>
                        <div id="answerDiv@question.id" class="info-detail" hidden>
                        <br>

                        <div style="color: black; font-size: 25px;">@question.answer</div>

                        <hr>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</section>
}

<script>
$(document).ready(function(){
    @for(question <- questions) {
        var id = @question.id;
        $('#answerOpen' + @question.id).click(function() {
           if ($('#answerDiv' + @question.id).is(':hidden')) {
                $('#answerDiv' + @question.id).show();
            } else {
                $('#answerDiv' + @question.id).hide();
            }
         });
    }
});
</script>