@import helpers.Constants
@(content: Html)
@main {

    <section class="slider" id="home">
        <div class="container-fluid">
            <div class="row">

                <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="header-backup"></div>
                        <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="@routes.Assets.versioned("img/slide-six.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-zero.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-one.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-two.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-three.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-four.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-five.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-seven.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-eight.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-nine.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-ten.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@routes.Assets.versioned("img/slide-eleven.jpg")" alt="">
                            <div class="carousel-caption">
                                <h2>providing</h2>
                                <p>high quality service for booking</p>
                                <a href="#searchPanel"><button>search hotels</button></a>
                            </div>
                        </div>
                    </div>

                        <!-- Controls -->
                    <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </section> <!-- end of slider section -->


    <!-- about section -->
    <section class="about text-center" id="about">
        <div class="container">
            <div class="row">
                <h2>The most visited hotels</h2>
                <h3>Best rated hotels by our guests</h3>

                @content

            </div>
        </div>
    </section> <!-- end of about section -->


    <section class="">
        <div class="container">
        <div class="" id="searchPanel">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>Search Hotels</h2>
                        <div class="info-detail">
                            </div>
                    </div>

                    <div class="col-md-4 col-md-offset-3 contact-form">
                        @* <h4>Search:</h4>*@

                            <form method="get" action="@routes.Hotels.search()">
                                @*<div class="fa-search">*@
                                @*<div class="form-group">*@

                                @*<select name="object" class="form-control" id="sel1">*@
                                @*<option>Hotel</option>*@
                                @*<option>Room</option>*@

                                @*</select>*@
                                @*</div>*@

                                @*</div>*@

                                <div class="form-group">
                                    <h3>Search By:</h3>
                                    <select name="category" class="form-control" id="sel1" style="font-size: 18px; height: 50px;">
                                        <option value="country" style="font-size : 18 px;" type="text">Country</option>
                                        <option value="city" style="font-size: 18px;">City</option>
                                        <option value="name" style="font-size: 18px;">Name</option>
                                        <option value="stars" style="font-size: 18px;">Stars</option>
                                        <option value="price" style="font-size: 18px;">Price</option>
                                    </select>

                                </div>
                                <div>
                                    <h5> </h5>
                                </div>
                                    <!--input field for search-->
                                <input type="text" id="search1" name = "search" style="font-size: 17px; height: 50px;" minlength="1" maxlength="32" required>

                                    <!--submit button-->
                                <input class="submit-btn" id="search-hotels" type="submit" value="SEARCH">
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <!-- team section -->

    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="team-heading text-center">
                    <h2>bitBooking Team</h2>

                    <h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
                </div>

                <div class="col-md-2 single-member col-sm-4">
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member1.jpg")" alt="member-1">
                    </div>

                    <div class="person-detail">
                        <div class="arrow-bottom"></div>
                        <h3>Dr. Ajla El Tabari</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>

                </div>

                <div class="col-md-2 single-member col-sm-4">

                    <div class="person-detail">
                        <div class="arrow-top"></div>
                        <h3> Boris Tomic</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member2.jpg")" alt="member-2">
                    </div>
                </div>
                <div class="col-md-2 single-member col-sm-4">
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member3.jpg")" alt="member-3">
                    </div>
                    <div class="person-detail">
                        <div class="arrow-bottom"></div>
                        <h3>Alen Bumbulovic</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>

                <div class="col-md-2 single-member col-sm-4">
                    <div class="person-detail">
                        <div class="arrow-top"></div>
                        <h3>Edvin Mulabdic</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member4.jpg")" alt="member-4">
                    </div>
                </div>

                <div class="col-md-2 single-member col-sm-4">
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member5.jpg")" alt="member-5">
                    </div>

                    <div class="person-detail">
                        <div class="arrow-bottom"></div>
                        <h3>Amra Sabic</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>

                <div class="col-md-2 single-member col-sm-4">

                    <div class="person-detail">
                        <div class="arrow-top"></div>
                        <h3>Dr.Zaid Zerdo </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                    <div class="person">
                        <img class="img-responsive" src="@routes.Assets.versioned("img/member6.jpg")" alt="member-5">
                    </div>

                </div>
            </div>
        </div>
    </section> <!-- end of team section -->


    <!-- contact section starts here -->

        <div class="container" id="mailPanel">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>contact us</h2>
                    </div>

                    <div class="col-md-5 contact-info text-left">
                        <h3>contact information</h3>

                        <div class="info-detail" style="font-size : 20px;">
                            <ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span>
                                9:00 AM to 5:30 PM</li></ul>
                            <ul><li><i class="fa fa-map-marker"></i><span>Address:</span>
                                Hrasnicka cesta 15, 72 000 Sarajevo</li></ul>
                            <ul><li><i class="fa fa-phone"></i><span>Phone:</span>(032) 987-1235</li></ul>
                            <ul><li><i class="fa fa-fax"></i><span>Fax:</span>(123) 984-1234</li></ul>
                            <ul><li><i class="fa fa-envelope"></i><span>Email: </span>@Constants.EMAIL</li></ul>
                        </div>
                    </div>


                    <div class="col-md-6 col-md-offset-1 contact-form" id="contact">
                        <h3>leave us a message</h3>

                        <form method="post" action="@routes.Emails.sendMail()">

                            <input id="name" name="user_name" class="name" type="text" aria-required="true" placeholder="Name" required onblur="checkName()" onfocusout="checkNameLength()">
                            <div style="font-size: 20px; color: red" id="name_error"></div>
                            <div style="font-size: 20px; color: red" id="namelength_error"></div>

                            <input id="email" name="mail" class="email" type="email" placeholder="Emails" required onblur="checkEmail()">
                            <div style="font-size: 20px; color: red" id="email_error"></div>

                            <input id="subject" name="subject" type="text" placeholder="Subject" required onblur="checkSubject()" onfocusout="checkSubjectLength()">
                            <div style="font-size: 20px; color: red" id="subject_error"></div>
                            <div style="font-size: 20px; color: red" id="subjectlength_error"></div>

                            <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message" required ></textarea>

                            <div style="font-size: 20px; color: red" class="duplicate-email" >
                            @if(flash.containsKey("error")) {
                                <input type="" autofocus style="height: 0px; width: 0px; opacity: 0;" readonly="readonly">
                                @flash.get("error")


                            }
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LfB5g0TAAAAAD3vjlDKc3MuTDGkZji-WiD_skWH"></div>

                            <input href="@routes.Emails.sendMail()" class="submit-btn" id="contact-us" type="submit" value="SUBMIT">

                        </form>
                    </div>

                </div>
            </div>
        </div>

    <!-- script tags
	============================================================= -->
    <script src="@routes.Assets.versioned("javascripts/js/jquery-2.1.1.js")"></script>
    <script src="@routes.Assets.versioned("http://maps.google.com/maps/api/js?sensor=true")"></script>
    <script src="@routes.Assets.versioned("javascripts/js/smoothscroll.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/js/custom.js")"></script>



}