@import helpers.Constants
@(hotels: List[Hotel])
@import helper._
@index {
    <div class="row" id="easyPaginate">
        @for(hotel <- hotels) {
            @helper.form(action = routes.Hotels.showHotel(hotel.id)) {
        <div class="hotel">
                <div class="col-md-3 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            @if(hotel.images.size() == 0) {
                                <img class="img-responsive" src="http://placehold.it/360x300" alt="">
                            } else {
                                <img src="@hotel.images.get(0).getSize(360, 300)"/>
                            }
                            <a href="@routes.Hotels.showHotel(hotel.id)">
                                <div class="about-details">
                                    <div class="gogo" style="background-image: url('http://res.cloudinary.com/dzkq8z522/image/upload/w_70,h_50/v1443185744/urssuhubmnnmr32hd8n0.png');background-repeat: no-repeat;font-size: 50px">
                                        <h1>
                                            @hotel.stars
                                        </h1>
                                    </div>
                                    <h3>@hotel.name</h3>
                                    <p>@hotel.city</p>
                                    <button class="edvin-button">VIEW HOTEL</button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br>

                </div>
            }
        </div>
        }
    </div>

<script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.hotel',
        elementsPerPage: @Constants.PAGE_SIZE,
        effect: 'climb'
        });
</script>

    <style>
        .easyPaginateNav a {
        font-family: "Lucida Sans","Lucida Grande",sans-serif;
        font-size: 76%;
        padding:9px;
        text-align: center;
        }

        .easyPaginateNav a.current {
        font-weight:bold;
        text-decoration:underline;
        }

        .easyPaginateNav a:hover {
        background-color: #DEDEDE;
        color: #000;
        }
    </style>
}


